@import '~antd/dist/antd.css';

.forms-bg {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px 20px 10px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.forms {
  width: 100%;
}